[submodule "keras-inceptionv3-tutorial"]
	path = keras-inceptionv3-tutorial
	url = https://github.com/ColeMurray/keras-inceptionv3-tutorial
[submodule "appengine-frontend"]
	path = appengine-frontend
	url = https://github.com/ColeMurray/appengine-frontend
